= link_to 'Share', '#', onclick: "window.open('https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}'+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436'); return false;"
