.heading
  .blogtitle
    The Quietest Place

.row
  .small-4.columns.small-offset-8.top-space-10
    %span.has-tip.tip-top{"data-tooltip" => "", title: "a scientist by day, a 'mother' after work, a partner by night - and everything that comes with it."} About The Quietest Place

.row
  .small-9.columns.small-centered
    = cache do
      = render @posts

  
.row#footer
  .small-6.columns.small-centered
    %h6.subheader
      written by 
      = link_to 'Carla', "mailto: carlasilvamatos@gmail.com"
      and built by 
      = link_to 'Job', "http://www.twitter.com/jobvo" 
      \- with love, but all rights reserved
