.row
  .small-9.small-centered.columns
    %h1
      New post
    = render 'form', post: @post

.row
  .small-12.column.small-centered
    = link_to 'Markdown syntax', "http://daringfireball.net/projects/markdown/syntax"
